.popup__close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  background-color: transparent;
  border: 0;
  background-image: url('../../../images/close.svg');
  background-size: cover;
  outline: none;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 918px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}