.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
  padding: 0 27px;
  margin-bottom: 42px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 918px) {
  .header {
    padding: 0;
    min-height: 119px;
  }
}