.form__submit-button {
  height: 44px;
  width: 100%;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #000;
  cursor: pointer;
  transition: opacity 200ms;
}

.form__submit-button:hover {
  opacity: .8;
}

@media screen and (min-width: 918px) {
  .form__submit-button {
    height: 50px;
    font-size: 18px;
  }
}