.profile {
  margin-bottom: 53px;
  text-align: center;
}

@media screen and (min-width: 918px) {
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    text-align: left;
  }
}