.profile__add-button {
  height: 50px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #fff;
  background-color: #000;
  background-image: url('../../../images/plus.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 200ms;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 918px) {
  .profile__add-button {
    width: 150px;
    margin-left: auto;
    background-size: 22px;
  }
}