.photo-grid__list {
  display: grid;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 564px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

@media screen and (min-width: 918px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
  }
}