.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

@media screen and (min-width: 918px) {
  .profile__info {
    margin-bottom: 0;
    align-items: flex-start;
  }
}