.profile__edit-button {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url('../../../images/pen.svg');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 7px;
  transition: opacity 200ms;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 918px) {
  .profile__edit-button {
    position: relative;
    top: -4px;
    left: 25px;
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}