.page {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  min-width: 320px;
  max-width: 918px;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media screen and (min-width: 918px) {
  .page {
    max-width: 880px;
  }
}