.popup__container_type_profile {
  max-width: 430px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  min-height: 330px;
  background-color: #fff;
  padding: 34px 36px 37px;
  border-radius: 10px;
}